---
interface Props {
    title: string
    lang?: string
}

const { title, lang = 'en' } = Astro.props
---

<!doctype html>
<html lang={lang}>
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
        />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>

        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="/apple-touch-icon.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/favicon-16x16.png"
        />
        <link rel="manifest" href="/site.webmanifest" />

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100..800&display=swap"
            rel="stylesheet"
        />

        <meta name="theme-color" content="#333" />
        <link rel="canonical" href="https://ximuntion.com/" />
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=7" />
        <meta name="url" content="https://ximuntion.com/" />
        <meta
            name="description"
            content="Ion Munteanu's personal portfolio to showcase his work and projects."
        />
        <meta name="robots" content="index, follow" />
        <meta name="author" content="Ion Munteanu" />
        <meta
            name="keywords"
            content="Ion Munteanu, Portfolio, Work, Works, Project, Projects"
        />

        <meta property="og:title" content="Ion's Portfolio" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://ximuntion.com/" />
        <meta
            property="og:description"
            content="Ion Munteanu's personal portfolio to showcase his work and projects."
        />
        <meta property="og:image" content="/android-chrome-192x192.png" />
        <meta name="twitter:card" content="/android-chrome-512x512.png" />

        <link rel="alternate" hreflang="en-us" href="https://ximuntion.com/" />
        <link
            rel="alternate"
            hreflang="es-es"
            href="https://ximuntion.com/es"
        />
        <link rel="alternate" hreflang="ca" href="https://ximuntion.com/cat" />
    </head>
    <body
        class="bg-[rgb(220,220,224)] dark:bg-[#101010] text-black dark:text-white"
        data-mode="dark"
    >
        <slot />
    </body>
</html>

<style is:global>
    @tailwind base;
    @tailwind components;
    @tailwind utilities;

    html {
        padding: 0;
        margin: 0;
        scroll-behavior: smooth;

        scrollbar-width: thin; /* Firefox */
    }

    body {
        font-family: 'Martian Mono', monospace;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-variation-settings: 'wdth' 100;

        width: 100%;
        transition:
            background-color 0.3s ease-in-out,
            color 0.3s linear;
    }

    @layer base {
        :root {
            --background: 0 0% 100%;
            --foreground: 224 71.4% 4.1%;

            --card: 0 0% 100%;
            --card-foreground: 224 71.4% 4.1%;

            --popover: 0 0% 100%;
            --popover-foreground: 224 71.4% 4.1%;

            --primary: 220.9 39.3% 11%;
            --primary-foreground: 210 20% 98%;

            --secondary: 220 14.3% 95.9%;
            --secondary-foreground: 220.9 39.3% 11%;

            --muted: 220 14.3% 95.9%;
            --muted-foreground: 220 8.9% 46.1%;

            --accent: 220 14.3% 95.9%;
            --accent-foreground: 220.9 39.3% 11%;

            --destructive: 0 84.2% 60.2%;
            --destructive-foreground: 210 20% 98%;

            --border: 220 13% 91%;
            --input: 220 13% 91%;
            --ring: 224 71.4% 4.1%;

            --radius: 0.5rem;
        }

        .dark {
            --background: 224 71.4% 4.1%;
            --foreground: 210 20% 98%;

            --card: 224 71.4% 4.1%;
            --card-foreground: 210 20% 98%;

            --popover: 224 71.4% 4.1%;
            --popover-foreground: 210 20% 98%;

            --primary: 210 20% 98%;
            --primary-foreground: 220.9 39.3% 11%;

            --secondary: 215 27.9% 16.9%;
            --secondary-foreground: 210 20% 98%;

            --muted: 215 27.9% 16.9%;
            --muted-foreground: 217.9 10.6% 64.9%;

            --accent: 215 27.9% 16.9%;
            --accent-foreground: 210 20% 98%;

            --destructive: 0 62.8% 30.6%;
            --destructive-foreground: 210 20% 98%;

            --border: 215 27.9% 16.9%;
            --input: 215 27.9% 16.9%;
            --ring: 216 12.2% 83.9%;
        }
    }

    @layer base {
        * {
            @apply border-border;
        }

        body {
            @apply bg-background text-foreground;
        }
    }
</style>
